* {
    box-sizing: border-box;
    background-color: #c3a5a3;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.column {
    display: inline-block;
    margin-left: -4px;
}
.slot {
    width: 100px;
    height: 100px;
    background-color: #1a1a32;
    padding: 10px;
}

.hole {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
}
.slot.player1 .hole {
    background-color: #83adce;
}
.slot.player2 .hole {
    background-color: #e97721;
}
.resetButton {
    font-size: 24px;
    background-color: #648f90;
    border-radius: 60px;
    width: 200px;
    height: 50px;
    color: #afc1a1;
    border: 4px solid #162d39;
    margin-left: 245px;
    text-align: center;
    padding: 5px;
}
.Connecttitle {
    position: relative;
    float: right;
    color: yellow;
    font-size: 50px;
    margin-right: 120px;
    font-family: "Carrois Gothic SC", sans-serif;
}
.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    width: 500px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.popup-text,
#resetButton {
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
}
