<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>MC Portfolio</title>
        <link rel="stylesheet" href="/stylesheet.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="layout">
            <h1> Mario Colindres Portfolio </h1>
            {{> nav }}

            {{{ body }}}
        </div>
    </body>

</html>
